nb-configuration.xml
target
bundle-*/target/
bundle-*/nb-configuration.xml
plugin-*/target/
plugin-*/nb-configuration.xml
portal-*/target/
portal-*/nb-configuration.xml

.project
.settings/
bundle-*/.project
bundle-*/.settings
portal-*/.project
portal-*/.settings
plugin/.project
plugin/.settings/

